:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}


.card
{
  width: 260px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid lightgray;
  margin: 20px;
}

.card img
{
  width: 100%;
  border-radius: 12px;
}

